div.content {
    display: block;
    width: 300px;
    min-height: 250px;
    margin: 10px;
    padding: 40px 50px;
    text-align: center;
    background-color: rgb(255,255,255);
    box-shadow: 0 14px 25px rgba(0,0,0,.1) !important;
}

div.content img {
    width: 200px;
}

.vertical-center {
    position: absolute;
    width: 100%;
    top: calc(50% - 250px);
    text-align: center;
    vertical-align: middle;
}

div.line {
    height: 10px;
}