section.post {
    width: 100%;
    max-width: 760px;
    margin: 8px auto; 
    text-align: justify; 
    min-height: 700px;
    background-color: white;
    letter-spacing: 2px;
    padding: 16px;
}

section.post header {
    font-size: 36px;
}

section.post section, section.post header {
    padding: 16px;
}