    <div class="toolbar" role="banner">
          <div id="title">
            <a [hidden]=hidden class="picture" href="/">
              <img width="40" height="40" alt="Me" src="assets/me.jpg" />
            </a>
            <a href="/" [hidden]=hidden class="name">Patrizio Colomba on Github</a>
          </div>
          <nav class="nav navigation" [hidden]=hidden (window:resize)="onResize()">
            <a href="/portfolio">Portfolio</a>
            <a href="/post">Post</a>
          </nav>
          <div class="social" style="position: absolute; right: 0;">
            <a aria-label="Patrizio Colomba on facebook" target="_blank" rel="noopener" href="https://facebook.com/patrizio.colomba" title="Facebook">
              <svg id="social-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                <rect width="400" height="400" fill="none"/>
                <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z" fill="#fff"/>
              </svg>
            </a>
        </div>
      </div>