:host {
  width: 100%;
  height: 100%;
}

div#title {
  display: inline-block;
  min-width: 280px; 
  height: 60px;
}

div#title a.picture {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 10px;
}

div#title a.name {
  float: left; 
  color: #FFFFFF; 
  line-height: 60px; 
  width: 200px; 
  height: 60px; 
  margin: 0;
  padding: 0;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
  }

  .toolbar > title {
    flex-grow: 1;
  }

  .toolbar img {
    margin: 0 10px;
    object-fit: cover;
  }

  .toolbar #social-logo {
    height: 40px;
    margin: 0 20px;
  }

  .toolbar #social-logo:hover {
    opacity: 0.8;
  }

  nav {
    flex-grow: 2;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: left;
    height: 60px;
    line-height: 60px; 
  }
  
  nav > a, nav > a:visited, nav > a:hover {
    border: 1px solid #FFFFFF;
    border-top: 0;
    border-bottom: 0;
    color: #FFFFFF;
    text-align: center;
    display: block;
    width: 200px;
    height: inherit;
    line-height: inherit;
    font-weight: 600;
  }

  a > img {
    height: 40px;
  }

  div.social {
    flex-grow: 1; 
    text-align: right;
  }

  [hidden] {
    display: none !important;
  }