ul.news {
    margin: 15px 0;
}

div.post {
    padding-top: 15px;
    border-top: 1px solid #000000;
    margin-bottom: 15px;
    line-height: 25px;
}

div.post h3 {
    font-weight: 600;
}

div.post div.date {
    float: right;
}

div.post div.text {
    margin-top: 15px;
    white-space: pre-wrap;
}