div.content {
    display: block;
    width: 130px;
    min-height: var(--dashboard-height);
    height: var(--dashboard-height);
    max-height: var(--dashboard-height);
    margin: 8px;
    padding: 20px 50px 40px 50px;
    text-align: center;
    background-color: rgb(255,255,255);
    box-shadow: 0 14px 25px rgba(0,0,0,.1) !important;
    cursor: pointer;
}

div.content img {
    height: 50px;
}

div.line {
    height: 10px;
}